.wrap {
  display: flex;
  min-height: 100vh;
  margin-left: 15rem;
  padding: 2rem;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15rem;
}

.content {
  background-color: var(--background);
  border: 1px solid var(--background-light);
  border-radius: var(--radius);
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  box-shadow: var(--box-shadow);
}